.table{
    width: 100%;
    border-collapse: seperate;
    border-spacing:0;
}

.thead{
    background-color: #fff;
    color: #fff;
    position:sticky;
    left:0;
    top: 0;
    height: 70px;
    z-index:1;   
}

.th {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #116d38;
    border-left: none;
    border-bottom: none;
    text-align: center;
    min-height: 28px;
    padding: 5px 10px 5px 10px;
}

.tr1{
    background-color: #f4f4f5;
}

.tr2{
    background-color: #eaeaeb;
}

.td{
    padding: 4px 16px;
}