@use "../../../shared/colors.scss" as *;

.modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: $dark-low;

    .modalContainer {
      position: fixed;
      
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border-radius: 4px;
      padding: 40px 40px 24px;
      width: fit-content;
      height: fit-content;

      &.afterLoginModal,
      &.beforeLoginModal,
      &.successModal,
      &.failureModal {
        row-gap: 16px;
      }

      &.PWResetModal {
        row-gap: 8px;
      }

      .mainText {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        color: $dark-high;
        line-height: 1.5;
        letter-spacing: -1.2%;
      }
      
      .subText {
        width: 100%;
        font-size: 14px;
        color: $dark-medium;
        line-height: 1.5;
        letter-spacing: -1.2%;
      }

      .btnsWrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
      }
    }
  }

  .flex {
    width: 100%;
    display: flex;
    
    &.flexRow {
      flex-direction: row;
      align-items: center;
      column-gap: 6px;
    }

    &.flexColumn {
      flex-direction: column;
      row-gap: 8px;
    } 
  }

  .iconWrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .information {
      width: 100%;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
  }