@use "../../shared/colors.scss" as *;

.error{
    width: 400px;
    text-align: center;
    margin: 10px auto;
    color: red;
  }
  

.login{
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color: $gray-100;
  }

  
  .login_content{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    margin: 0 auto;
  }
  
  
.form{
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    width: 520px;
    height: 340px;
    padding: 48px 48px 24px;
    box-shadow: 0px 24px 40px rgba(160, 197, 175, 0.24);
    border-radius: 4px;
}

.row{
    min-width: 400px;
    margin: 0 auto;
    // margin-bottom: 20px;
    margin-bottom: 8px;
}
.input_group{
    position: relative;
    .label{
      margin-bottom: 4px;
      &.default{
        color: #fff;
      }
    }
}
.input{
    width: 100%;
    height: 40px;
    font-size: 1em;
    background: #fff;
    box-sizing: border-box;
    outline:none;
    padding: 8px 16px;
    
    &.default{
      background: rgba(0, 0, 0, 0.05);
      color: #00000006;
      border-radius: 4px;
    }
    &.active{
      background: #E7F0EB;
      border: 1px solid #116D38;
      box-sizing: border-box;
    }
    &.error{

    }
}



.button{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius:4px;
    padding: 8px 16px;
    color: #fff;
    margin-top: 19px;
    &.inactive{
      background-color: $gray-300;
    }
    &.active{
      background-color: $primary-500;
      cursor: pointer;
    }
}

.findPWBtn{
  background-color: transparent !important;
  font-weight: 700;
  font-size: 14px;
  color: $dark-medium;
  cursor: zoom-in;
}


@media (max-width: 980px){
    .login{
      flex-direction : column;
    }
    .login_aside{
      width: 100%;
      padding: 1rem 0px;
    }
    .login_content{
      width: 100%;
      height: calc(100% + -188px);
    }
  }

  .modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: $dark-low;

    .modalContainer {
      position: fixed;
      
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 24px 36px;
      row-gap: 16px;

      &.loginFailModal {
        width: 483px;
        height: 319px;
      }

      .mainText {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        color: $dark-high;
        line-height: 1.5;
        letter-spacing: -1.2%;

      }
      
      .subText {
        width: 100%;
        font-size: 14px;
        color: $dark-medium;
        line-height: 1.5;
        letter-spacing: -1.2%;

      }
    }
  }