.cardList{
    margin-right: 20px;
    padding:24px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 16%);
    height: auto;
    background-color: #fff;
}
.cardList_header{
    height: 70px;
    display:flex;
    justify-content: space-between;
    padding-top:15px;
}
.card{
    width: 500px;
    height: 235px;
    padding: 24px;
    margin: 0px auto 24px auto;
    background-color: #f4f4f5;
}
.card_header{
    display:flex;
    .card_rank{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #d54232;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        padding-top: 1.5px;
        margin-right: 8px;
    }
    .card_title{
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
    }
}
.card_body{
    display:flex;
    margin-top: 50px;
    .card_body_left{
        width: 50%;
        margin-right: 20px;
        .card_body_title{
            font-size: 16px;
        }
        .card_body_ratio{
            font-size: 11px;
        }
        .card_body_highlight{
            font-size: 32px;
            font-weight:bold;
        }
    }
    .card_body_right{
        width: 50%;
    }
}
.select_title{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
}
.select_list{
    display:flex;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.select_item {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.select_btn{
    background-color: #fff;
}
.selected{
    color: #116D38;
    font-weight: bold;
}