@use "../../../shared/colors.scss" as *;
@use "../../../shared/font.scss" as *;


.operatingBox_container {
    margin-top: 40px;
}

.detailBox_container {
    margin-top: 58px;
}

.detailBox_layout {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.componentBox_container {
    margin-top: 107px;
}

.componentBox_layout {
    display: flex;
}

.depthTitleBox {
    display: flex;
    align-items: center;
    gap: 8px;
    .depthTitle{
        font-size: 32px;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        &.selected {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.87);
            cursor: default;
        }
    }
    .depthTitle:hover{
        text-decoration: underline;
        &.selected {
            text-decoration: none;
        }
    }
    .depthArrow {
        font-size: 32px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
    }
}

.operationAvgBox_container {
    min-width: 596px;
    height: 373px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 24px 24px 0 24px;
    .header {
        display: flex;
        justify-content: space-between;
    }
    .body{
        margin-top: 18px;
        display: flex;
        gap: 32px;
        .doughnutChartBox{
            width: 276px;
            height: 276px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            padding: auto;
            border-radius: 50%;
            background-color: #fff;
            position:relative;
            .doughnutChartOuterBox{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width:382px;
                height:382px;
            }
            .doughnutChartInnerBox {
                width: 268px;
                height: 268px;
                border-radius: 50%;
                box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center ;
                justify-content: center; 
                position: absolute;
                transform: translate(-50%, -50%); 
                left: 50%;
                top: 50%;
                z-index: 5;
            }
            .inner_info_box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                width: 228px;
                height: 228px;
                border-radius: 50%;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #ffffff;
                .info_title{
                    margin-top: 73px;
                    font-size: 16px;
                    font-weight: bold;
                }
                .info_value{
                    font-size: 48px;
                    font-weight: bold;
                    line-height: 1.5;
                    span{
                        color: $primary-500;
                    }
                    .percent{
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
        }
        .categoryBox{
            .category {
                margin-bottom : 9px;
                .category_title{
                    gap: 4px;
                    display: flex;
                    font-size: 11px;
                    align-items: center;
                    color: rgba(0, 0, 0, 0.6);
                    .circle {
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        &.runUp{
                            background-color: $primary-500;
                        }
                        &.idle{
                            background-color: #ffc600;
                        }
                        &.runDown{
                            background-color: #ff9f8b;
                        }
                        &.off{
                            background-color: #f25341;
                        }
                        &.exceptionRunUp{
                            background-color: #dfdfe0;
                        }
                    }
                }
                .category_value{
                    display: flex;
                    gap: 4px;
                    .percent{
                        font-size: 14px;
                        font-weight: bold;
                        color: $dark-medium;
                    }
                    .time{
                        font-size: 14px;
                        color: $dark-medium;
                    }
                }
            }
        }
    }
}


.equipOperationBox_container{
    min-width: 442px;
    height: 373px;
    border-radius: 4px;    
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.equipProductionBox_container{
    min-width: 750px;
    height: 373px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.componentDepthFilter_box {
    margin-top: 16px;
    .filterTitle{
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
    }
}

.componentDepthFilter_layout{
    display: flex;
    gap: 24px;
    margin-top: 4px;
    .depthButton{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        &.selected {
            color: $primary-500;
            font-weight: bold;
            cursor: default;
        }
    };
    .depthButton:hover{
        text-decoration: underline;
        &.selected {
            text-decoration: none;
        }
    }
}

.componentDepthBox_layout {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.componentDepthBox {
    width: 288px;
    height: 180px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
    padding: 16px;
    cursor: pointer;
    .operation_title{
        cursor: pointer;
        margin: 24px 0 8px 0;
    }
    .operation_value{
        cursor: pointer;
        .value{
            margin: 0 4px 0 0;
            font-size: 32px;
            font-weight: bold;
            color: #116d38;
            cursor: pointer;
        }
        .percent{
            font-size: 16px;
            color: #116d38;
            cursor: pointer;
        }
    }
    .stick_chart{
        cursor: pointer;
        margin-top: 8px;
        width: 100%;
    }
}

.componentDepthBox:hover{
    background-color: #dfdfe0;
}

.display_none {
    display :none !important;
}