// DESCRIBE:  전역적으로 사용되는 classes들을 모아두는 scss파일입니다.

.image{
  width: 200px;
  margin: 0 auto;
}

.modalOuterBox {
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 200;
}

.modalInnerBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 201;
}

