.temp{
    width: 100px;
    margin: 100px auto;
}

.depth_select_modal{
    width: 810px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    overflow: hidden;
    margin: 100px auto;
    .header{
        width: 100%;
        height: 32px;
        background-color: #116d38;
        color: #fff;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 16px;
        .title{
            color: #fff;
        }
        .close_btn{
            color: #fff;
            padding-right: 15px;
        }
        .close_btn:hover{
            cursor: pointer;
        }
    }
    .body{
        width: 100%;
        height: 500px;
        padding-left: 17px;
        margin-top: 26px;
        display: flex;
        .col{
            width: 248px;
            height: 100%;
            margin-right: 15px;
            .subtitle{
                font-size: 16px;
                margin-bottom: 14px;
            }
            .section{
                width: 100%;
                height: 500px;
                background: #f4f4f5;

            }
        }
    }
    .footer{
        height: 110px;
        .footer_section{
            height: 52px;
            width: 100%;    
            .tag_box{
                display: flex;
                margin-left: 15px;
                .factory_tag_section{

                }
                .process_tag_section{

                }
                .depth1_tag_section{

                }
            }
            .confirm_btn {
                margin: 0 auto;
                width: 100px;
            }
        }
    }
}

.checkbox_container{
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    .checkbox_item{
        position:relative;
        margin-left: 10px;
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            z-index:2;
        }
        input ~ .checkmark {
            background-color: #ccc;
        }
        input:checked ~ .checkmark {
            background-color: #116d38;
            border: none;
        }
        input:checked ~ .checkmark:after {
            display: block;
            width: 8px;
            height: 8px;
        }
        .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border: 1px solid #000000;
            z-index:1;
        }
        .checkmark:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top:2px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        input:checked ~ .checkmark {
            background-color: #116d38;
            border: none;
        }
    }

    .checkbox_item:hover{
        input ~ .checkmark {
            background-color: #ccc;
        }
    }
}

.upper_depth_name{
    width: 100%;
    height: 33px;
    background-color: #dfdfe0;
    font-weight: bold;
    line-height: 33px;
    padding-left: 8px;
}
.checkbox_container li{
    height: 30px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 10px;
    .checkbox_label{
        margin-left: 35px;
        cursor: pointer;
        font-size: 16px;
    }
    // .checkbox{
    //     position: absolute;
    //     opacity: 0;
    //     cursor: pointer;
    //     height: 0;
    //     width: 0;
    // }
    .checkmark{

    }
}