@use "shared/colors.scss" as *;
@use "shared/font.scss" as *;
@use "styles/common.module.scss" as *;

.calendar_container {
    position: absolute;
    top:20px;
    left:0;
    // transform: translate(-50%);
    z-index: 50;
    padding: 25px 20px 16px 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    .calendar_body {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .calendar_header {
        position: relative;
        .prevBtn{
            position: absolute;
            cursor: pointer;
        }
        .nextBtn{
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }

    .calendar_footer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

.calendar_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        margin-bottom:20px;
        padding: 0;
    }

    .week{
        margin-bottom: 4px;
        display: flex;
        border-radius: 50%;
        .date {
            width:32px;
            height: 32px;
            position: relative;
            span{
                border-radius: 50%;
                width:32px;
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .background{
                width:32px;
                height: 32px;
            }
        }
        
        .this {
            cursor: pointer;
            span{
                cursor: pointer;
            }
            &.startDate span, &.endDate span{
                background-color: $primary-300 !important;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

            }
            &.startDate .background{
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            &.endDate .background {
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            &.btwDates .background{
                background-color: $primary-100 !important;
                opacity: 0.6;
            }
            &.future span {
                color: rgba(0, 0, 0, 0.38);
                cursor: default !important;
            }
            &.future span:hover {
                border: none !important;
            }
        }


        .this span:hover{
            border: 1px solid $gray-500;
        }


        .other > span {
            display: none;
        }

        .saturday {
            color : #46f1d0;
        }
        
        .sunday {
            color: #ff765a;
        }
    }
}