@use "shared/colors.scss" as *;
@use "shared/font.scss" as *;
@use "styles/common.module.scss" as *;

.layoutContainer {
    // overflow: auto;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #f4f4f5;
}

.pageBody {
    margin-left:248px;
    padding: 24px 28px 40px 22px;
    transition: margin-left 0.3s ease-out;
    position: relative;
    // min-width: 100%;
    width: 100%;
    overflow: auto;
    // overflow-x: auto;
    .line {
        position: absolute;
        width: 100%;
        height: 2px;
        border: solid 1px #dfdfe0;
        margin-left:-22px;
        transition: margin-left 0.3s ease-out;
        &.top300{
            top:300px;
        };
        &.top824{
            top:824px;
        }
    }
    &.close {
        margin-left:64px;
        .line{
            margin-left:-86px;
        }
    }
}

// navBar component 스타일
.navbarContainer {
    min-width: 248px;
    min-height: 100%;
    position: fixed;
    transition: min-width 0.3s ease-out;
    z-index: 50;

    .headerContainer {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color:$primary-500;
        opacity: 1;
        transition: opacity 0.3s ease-out;
        .logoutBox {
            padding: 16px 0px 0px 16px;
        };
        .customerName {
            width: 100%;
            margin: 7px 0 0 24px;
            @include header4;
            color : $bright-high;
        };
        .imageBox {
            width: 200px;
            margin : 32px 24px 0 24px;
        };
        .myPageBtn {
            display: flex;
            margin-top: 26px;
            align-items: center;
            padding-left: 26px;
            opacity: 0.74;
            gap: 10px;
            cursor: pointer;
            width: fit-content;
            .name{
                color: rgb(255, 255, 255);
                font-size: 16px;
                cursor: pointer;
                vertical-align: middle;
            }
            &:hover{
                opacity: 0.95;
            }
        }
        .menuBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top:24px;
            div {
                padding-left:24px !important;
            }
        };
    }

    .exitBox {
        position: absolute;
        right : 16px;
        top: 16px;
        z-index: 10;
    }

    &.close{
        overflow: hidden;
        min-width: 64px;
        .headerContainer {
            opacity: 0;
        }
    }
}