// #TODO: Primay colors
$primary-050 : #E7F0EB;
$primary-100 : #CFE2D7;
$primary-200 : #A0C5AF;
$primary-300 : #70A788;
$primary-400 : #418A60;
$primary-500 : #116D38;
$primary-600 : #0E572D;
$primary-700 : #0A4122;
$primary-800 : #072C16;
$primary-900 : #052111;

// #TODO: Secondary colors
$secondary-050 : #E6FBF7;
$secondary-100 : #B3F4E7;
$secondary-200 : #80ECD7;
$secondary-300 : #33E1BF;
$secondary-400 : #00D9AF;
$secondary-500 : #00C39E;
$secondary-600 : #00AE8C;
$secondary-700 : #00987A;
$secondary-800 : #006D58;
$secondary-900 : #004134;

// $TODO: : Gray colors
$gray-100 : #F4F4F5;
$gray-150 : #EAEAEB;
$gray-200 : #DFDFE0;
$gray-300 : #CACACC;
$gray-400 : #B6B6B8;
$gray-500 : #A2A2A3;
$gray-600 : #8D8D8F;
$gray-700 : #6B6B6D;
$gray-800 : #484748;
$gray-900 : #242424;

// $TODO: Text colors
$dark-high : rgba(0, 0, 0, 0.87);
$dark-medium : rgba(0, 0, 0, 0.64);
$dark-low : rgba(0, 0, 0, 0.28);
$bright-high : rgba(255, 255, 255, 0.95);
$bright-medium : rgba(255, 255, 255, 0.74);
$bright-low : rgba(255, 255, 255, 0.38);

// $TODO: Status colors
$warning-light_light : #FFF9E5;
$warning-light : #FFE58D;
$warning-medium : #FFC600;
$warning-dark : #FAA500;
$danger-light_light : #FFEFEB;
$danger-light : #FF9F8B;
$danger-medium : #F25341;
$danger-dark : #D54232;


